.service {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 10px;
  background: radial-gradient(
    205.98% 205.98% at 50% 37.49%,
    #d80e0e 0%,
    #000000 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-h1 {
  margin: auto;
  color: #ffffff;
}

.sub-service {
  width: 100%;
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 330px;
  height: 290px;
  padding: 0px 15px 0px 10px;
  border-radius: 25px;
  border: 6px solid #d80e0e;
  background-color: #ffffff;
  padding: 10px;

  border: linear-gradient(225deg, #ff002e 0%, #808080 100%);

  transition: transform 0.3s ease-in-out;
}

.slick-slide {
  margin: 0 20px;
}

.slick-current {
  transform: translateY(40px);
}

.slick-track {
  height: 400px;
}

/* slick-slide slick-active slick-center slick-current */

.box11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid black;
}
.box1 {
  width: 34px;
  height: 34px;
}

.p1 {
  font-size: 20px;
  font-weight: 600;
  color: linear-gradient(225deg, #f76680 0%, #57007b 100%);
  margin-top: 30px;
}

.p2 {
  font-size: calc(0.8rem + 0.2vw);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  color: #718096;
  margin-top: 40px;
}

.slick-next {
  display: none !important;
}
