.whoweare {
  width: 100%;
  height: auto;
}

.whoweare-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: auto;
}

.color-line {
  width: 69px;
  padding: 2px;
  margin-bottom: 75px;
  background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
}

.are-text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 480px;
  height: auto;

  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #718096;
}

.whoweare-p {
  margin: 25px 0px;
}

.text-alignment {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #d80e0e;
}

.are-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .whoweare-body {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  .color-line {
    margin-bottom: 20px;
  }

  .are-text-area {
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 40px;
  }

  .whoweare-p {
    text-align: center;
  }
}
